<head>
  <style>

  </style>
</head>


<body>
<main class="post-article other user-profile">
  <nav class="user">
    <a href="<%= messages_url %>">Back To Inbox</a>
  </nav>



 <ul class="group collect-posts">
<% @messages.each do |msg| %>
  <% if  msg.receiver_id == current_user.id  && msg.draft == "N" && !msg.read && !msg.blocked %>
    <li class="group"><a href="<%= open_message_url(msg) %>"><%= msg.title %></a></li>


    <% elsif msg.receiver_id == current_user.id  && msg.draft == "N" && msg.read && !msg.blocked && !msg.trashed %>
       <li class="group"><a href="<%= message_url(msg) %>"><%= msg.title %></a></li>


    <% elsif   msg.receiver_id == current_user.id && msg.draft == "N" && msg.trashed  && !msg.blocked %>
      <li class="group"><a href="<%= message_url(msg) %>"><%= msg.title %></a></li>


    <% else %>
      <li class="group"><a href="<%= message_url(msg) %>"><%= msg.title %></a></li>


    <% end  %>
<% end %>
</ul>
</main>



</body>