<head>
 <style>
   nav.new-message{
     width: 700px;
     height: auto;
     margin:auto;
     background: rgb(228, 234, 233);
   padding: 5px 10px;
   border: 1px solid lightblue;
   }

   form.message-form{
     width:700px;
     min-height:500px;
     background: rgb(241, 246, 245);
     margin:auto;
   padding: 5px 10px;
   border: 1px solid lightblue;
   }


 </style>
</head>

<body>

  <nav class='new-message'>
      <h1>Edit Letter</h1>
   </nav>


<form class="message-form" action="<%= message_url(@message) %>" method="post" >
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>" >


<input type="hidden" name="_method" value="put">



   <label for="message_title">
     Title
   <input
     type="text"
     name="message[title]"
     value="<%= @message.title %>"
     id="message_title">
   </label>
     <br>




   <label for="message_body" >
     Letter
   <textarea class="article"

     name="message[body]"
     value="<%= @message.body %>"
     id="message_body"><%= @message.body %>
     </textarea>
   </label>
     <br>




    <button class="create-post">

     <input type="submit" value="Update">
     </button>

</form>

<footer>
  <li><h4>Do It Yourself, Make It Unique!</h4></li>
</footer>
</body>