<h5><a href="<%= unreadmessages_messages_url %>">Unread Messages</h5>




<h5><a href="<%= readmessages_messages_url %>">Read Messages</a></h5>



<br>

<h5><a href="<%= trashedmessages_messages_url %>">Trashed Messages</a></h5>

====================================================

<h5>Blocked Users</h5>
  <% User.all.each do |u| %>
    <% if Blockrecord.where(sender_id: u.id, receiver_id: current_user.id ).count > 0 %>
      <%= u.username %>
    <br>
    <% end %>
  <% end %>
<br>
====================================================
<h5>Sent Messages</h5>

<% @messages.each do |msg| %>
  <% if msg.sender_id == current_user.id && msg.draft == "N" %>
    <a href="<%= message_url(msg) %>"><%= msg.title %></a>
    <br>
  <% end  %>
<% end %>

<br>

<h5>Drafts</h5>

<% @messages.each do |msg| %>
  <% if msg.sender_id == current_user.id && msg.draft == "Y" %>
    <a href="<%= message_url(msg) %>"><%= msg.title %></a>
    <br>
  <% end  %>
<% end %>
