<head>
  <style>
  nav.user > ul >li{
      display: inline-block;
      float: left;
      padding: 0 20px;
  }
  nav.user > ul >li > a{
      font-weight: normal;

  }

  </style>
</head>

<body>
<main class="post-article other user-profile">
  <nav class="user">
    <ul class="group">
      <li><h3><a href="<%= readmessages_messages_url %>">Read </a></h3></li>
      <li><h3><a href="<%= unreadmessages_messages_url %>">Unread</h3></li>
      <li><h3><a href="<%= sentmsgs_messages_url %>">Sent</a></h3></li>
      <li><h3><a href="<%= trashedmessages_messages_url %>">Trash</a></h3></li>
      <li><h3><a href="<%= drafts_messages_url %>">Drafts</a></h3></li>

    </ul>
  </nav>

  <ul class="group collect-posts">
     <% @messages.each do |m|%>
     <li class="group"><a href="<%= message_url(m.id) %>"><%= m.title %></a></li>
     <% end %>
  </ul>


</main>
</body>

