

<h5>Received Messages</h5>

<% @messages.each do |msg| %>
  <% if msg.receiver_id == current_user.id %>
    <a href="<%= open_message_url(msg) %>"><%= msg.title %></a>(<%=  %>)
    <br>
  <% end  %>
<% end %>

<br>

<h5>Sent Messages</h5>

<% @messages.each do |msg| %>
  <% if msg.sender_id == current_user.id %>
    <a href="<%= message_url(msg) %>"><%= msg.title %></a>
    <br>
  <% end  %>
<% end %>

