<form class="post-form" action="<%= messages_url %>" method="post" >
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>" >




    <label for="message_receiver_id">Sent To:</label>
    <select name="message[receiver_id]" id="message_receiver_id">
      <option value="">Send To</option>
      <% User.all.each do |user| %>
      <% if user.username!= "" && user.id != current_user.id %>
        <option
          <%= @message.receiver_id == user.id ? "selected" : nil  %>
          value="<%= user.id %>"
          >

          <%= user.username %>
        </option>
    <% end %>
      <% end %>
    </select>
    <br>



   <label for="message_title">
     Title
   <input
     type="text"
     name="message[title]"
     value="<%= @message.title %>"
     id="message_title">
   </label>
     <br>




   <label for="message_body" >
     Letter
   <textarea class="article"

     name="message[body]"
     value="<%= @message.title %>"
     id="message_body"><%= @message.body %>
     </textarea>
   </label>
     <br>


   <label for="message_draft">
     Is Draft?(Y or N)
   <input
     type="text"
     name="message[draft]"

     id="message_draft">
   </label>
     <br>

    <button class="create-post">

     <input type="submit" value="Submit">
     </button>

</form>