<a href="<%= messages_url %>">Back To Inbox</a>
<br>
<% if current_user.id == @message.receiver_id %>
  <a href="<%= trash_message_url(@message) %>">Move To Trash</a>
<% end %>
<br>
<% if @message.receiver_id == current_user.id %>
  <%= link_to "Block User", block_message_url(@message) %>
<% end %>
<%= button_to "Delete", message_url(@message), method: :delete %>


<br>


<% if @message.draft == "Y" %>
  <h5>Draft:</h5>
  <a href="<%= edit_message_url(@message) %>">Edit</a>
<% end %>

<h1><%= @message.title %></h1>
<br>
<% if @message.sender_id == current_user.id %>

  Send to: <%= User.find(@message.receiver_id).username %>
<% elsif @message.receiver_id == current_user.id %>


  Send by: <%= User.find(@message.sender_id).username %>
<% end %>

<br>



<%= @message.body %>

<br>
<br>
<%  if @message.draft == "Y" %>
  <a href="<%=  senddraft_message_url(@message) %>">Send</a>
<% end %>

