<head>
  <style>

  nav.message{
    width: 700px;
    height: auto;
    margin:auto;
    background: rgb(228, 234, 233);
  padding: 5px 10px;
  border: 1px solid lightblue;
  }

  main.message{
    width:660px;
    min-height:500px;
    background: rgb(241, 246, 245);
    margin:auto;
  padding: 5px 10px;
  border: 1px solid lightblue;
  }

  main.message{
    padding:30px;
  }

  h1{



    text-align: center;
  }

  li.letter-info{


    padding: 30px 0;
  }

  p{
    width: 460px;
    min-height: 500px;
    border: 1px solid grey;
    margin: auto;
    padding:20px;
    font-size: 16px;
    font-weight: bold;
    background: rgb(228, 234, 233);
  }

  h3{
    text-align:center;
  }
  </style>
</head>

<body>


    <nav class="message">
      <a href="<%= messages_url %>">Back To Inbox</a>
    </nav>


<main class="message">
  <div class="letter-head">
  <ul class="group">
  <% if @message.draft == "Y" %>
    <li><h5>Draft:</h5></li>
  <% end %>
 <div class="letter-title">
  <li><h1><%= @message.title %></h1></li>
</div>

<% if @message.sender_id == current_user.id %>

  <li class="letter-info"><h3>Send to: <%= User.find(@message.receiver_id).username %></h3></li>
<% elsif @message.receiver_id == current_user.id %>


  <li class="letter-info"><h3>Send by: <%= User.find(@message.sender_id).username %></h3></li>
<% end %>
 </ul>
 </div>

<div class="letter">
  <p><%= @message.body %></p>
  </div>

<div class="send-draft">
<%  if @message.draft == "Y" %>
  <a href="<%=  senddraft_message_url(@message) %>">Send</a>
<% end %>
</div>
</main>

<footer>
  <ul class="group">
<% if current_user.id == @message.receiver_id %>
  <li><a href="<%= trash_message_url(@message) %>">Move To Trash</a></li>
<% end %>

<% if @message.receiver_id == current_user.id %>
  <li><%= link_to "Block User", block_message_url(@message) %></li>
<% end %>
<li><a><%= button_to "Delete", message_url(@message), method: :delete %></a></li>


<% if @message.draft == "Y" %>

  <li><a href="<%= edit_message_url(@message) %>">Edit</a></li>
<% end %>
</ul>
</footer>

</body>
