<a href="<%= messages_url %>">Back To Inbox</a>

<% if @message.draft == "Y" %>
  <h5>Draft:</h5>
  <a href="<%= edit_message_url(@message) %>">Edit</a>
<% end %>

<h1><%= @message.title %></h1>
<br>
Send by: <%= User.find(@message.sender_id).username %>
Send to: <%= User.find(@message.receiver_id).username %>
<br>

<%= @message.body %>

<br>
<br>
<%  if @message.draft == "Y" %>
  <a href="<%=  senddraft_message_url(@message) %>">Send</a>
<% end %>

