<head>
  <style>

  nav.user > ul{

  }

  nav.user > ul > li{
    float:left;
    padding: 10px 15px;
  }



  </style>
</head>

<body>

<main class="post-article other user-profile">
    <nav class="user">
      <ul class="group">
      <li><a href="<%= messages_url %>">Back To Inbox</a></li>

      <% if current_user.id == @message.receiver_id %>
        <li><a href="<%= trash_message_url(@message) %>">Move To Trash</a></li>
      <% end %>

      <% if @message.receiver_id == current_user.id %>
        <li><%= link_to "Block User", block_message_url(@message) %></li>
      <% end %>



      <% if @message.draft == "Y" %>

        <li><a href="<%= edit_message_url(@message) %>">Edit</a></li>
      <% end %>


      </ul>
    </nav>




<ul class="group">

 <div class="letter-title">
  <li><h1><%= @message.title %></h1></li>
</div>

<% if @message.sender_id == current_user.id %>

   <li class="letter-info"><h3>Send to: <%=  User.find(@message.receiver_id).username %></h3></li>
<% elsif @message.receiver_id == current_user.id %>


  <li class="letter-info"><h3>Send by: <%= User.find(@message.sender_id).username %></h3></li>
<% end %>


<%  if @message.draft == "Y" %>
  <a href="<%=  senddraft_message_url(@message) %>">Send</a>
<% end %>
 </ul>


<article class="post-article">
  <pre><%= @message.body %></pre>
 </article>


</main>



</body>
