<a href="<%= messages_url %>">Back To Inbox</a>

<h1><%= @message.title %></h1>
<br>
Send by: <%= User.find(@message.sender_id).username %>
Send to: <%= User.find(@message.receiver_id).username %>
<br>

<%= @message.body %>

<br>

<% if @message.draft %>
  <a href="<%= send_message_url(@message) %>">Send Now</a>
<% end %>