<head>
  <style>
  
  </style>

</head>
<body>
<main>
  <header>
    <ul class="header-list">
     <li class="header-left"><h3>home: login </h3></li>
     <li class="header-right"><h4><a class="signup" href="<%= new_user_url %>">sign up</a></h4></li>
   </ul>
  </header>
<form action="<%= session_url %>" method="post">

  <input  type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>" />

  <label  for="user_username">Username:</label>
  <input class="space"
    type="text"
    name="user[username]"
    value="<%= @user.username %>"
    id="user_username">
    <br>

  <label   for="user_password">Password:</label>
  <input class="space"
    type="password"
    name="user[password]"
    value="<%= @user.password %>"
    id="user_password">
    <br>

  <label  for="user_email">Email:</label>
  <input class="space"
    type="email"
    name="user[email]"
    value="<%= @user.email %>"
    id="user_email">
    <br>


 <button class="submit-button">
  <input  type="submit" value="Log In!">
  </button>
</form>


<p>
<a class="signin-button facebook"  href="/auth/facebook"> or Facebook Log In</a>


<a class="signin-button signup" href="<%= new_user_url %>">or Sign Up Now</a>


<button id="demo"><a class="demo" href="<%= demo_session_url %> ">Demo User</a> </button>
</p>
</main>

<footer>
  This is my first full stack project.    Its'a clone of <a href="http://www.instructables.com">instructables</a>.     <a href="http://www.lingrosenstein.com" >More about me</a>.
</footer>
</body>

