<ul class="nested-comments">
  <% post.comments_hash[c1.id].each do |c2|  %>

      <li>
        <%= c2.body %>(By: <%= c2.user.username || "Guest" %>, Published at: <%= c2.created_at.to_s %>)

        <form action="<%=new_comment_comment_url(c2)  %>" method="get">
          <input type="hidden" name="authenticity_token"
                 value="<%= form_authenticity_token %>" >

          <input class="reply-button" id="nested-comment-reply-button" type="submit" value='Reply'>

        </form>

      <%= render "comments/comment", c1: c2, post: post %>

      </li>

  <% end  %>

</ul>