
<head>
  <style>
    nav.new-post{
      width: 700px;
      height: auto;
      margin:auto;
      background: rgb(228, 234, 233);
    padding: 5px 10px;
    border: 1px solid lightblue;
    }

    form.post-form{
      width:700px;
      min-height:500px;
      background: rgb(241, 246, 245);
      margin:auto;
    padding: 5px 10px;
    border: 1px solid lightblue;
    }


  </style>
</head>

<body>

<nav class="new-post">
  <h1>Create Post</h1>
</nav>
<form class="post-form" id="new-post-form">

<label for="post_title">
  Title
<input
  type="text"
  name="post[title]"
  value="<%= post.escape("title") %>"
  id="post_title">
</label>

 <label for="post_body" >
   Article
 <textarea class="article"

   name="post[body]"

   id="post_body"><%= post.escape("body") %>
   </textarea>
 </label>


 <label for="post_sub_id">Subforum</label>
 <select name="post[sub_id]" id="post_sub_id">
   <option value="">Choose Category(Sub)</option>
   <% subs.each(function(sub){ %>
     <option
       <%= post.escape("sub_id") == sub.id ? "selected" : null  %>
       value="<%= sub.id %>"
       >

       <%= sub.escape("title") %>
     </option>

  <% }) %>


 </select>
 <br>


 <label for="post_channel_id">Channel</label>
 <select name="post[channel_id]" id="post_channel_id">
   <option value="">Choose Channel</option>
   <% channels.each(function(channel){ %>
     <option
       <%= post.escape("channel_id") == channel.id ? "selected" : null  %>
       value="<%= channel.id %>"
       >

       <%= channel.escape("title") %>(<%= (Diy.subs.get(channel.get("sub_id"))).escape("title") %>)
     </option>

  <% }) %>


 </select>
 <br>

 <label>
   Upload Picture

   <input id="file-upload" type="file" name="post[photo]">

 </label>




 <button class="create-post">Submit</button>
</form>

<footer>
  <li><h4>Do It Yourself, Make It Unique!</h4></li>
</footer>
</body>
