<h1>New Post</h1>

<form id="new-post-form">

<label for="post_title">
  Title
<input
  type="text"
  name="post[title]"
  value="<%= post.escape("title") %>"
  id="post_title">
</label>

 <label for="post_body" >
   Article
 <textarea class="article"

   name="post[body]"

   id="post_body"><%= post.escape("body") %>
   </textarea>
 </label>


 <label for="post_sub_id">Subforum</label>
 <select name="post[sub_id]" id="post_sub_id">
   <option value="">Choose Category(Sub)</option>
   <% subs.each(function(sub){ %>
     <option
       <%= post.sub_id == sub.id ? "selected" : nil  %>
       value="<%= sub.id %>"
       >

       <%= sub.title %>
     </option>
     
  <% }) %>
     
   
 </select>
 <br>
 
 


 <button class="create-post">Submit</button>
</form>