
<head>
  <style>




  </style>
</head>

<body>

<main class="create-diy">
<form class="post-form" id="new-post-form">

<nav class="new-post-nav">
 <label for="post_sub_id">Subforum</label>
 <select name="post[sub_id]" id="post_sub_id">
   <option value="">Choose Category(Sub)</option>
   <% subs.each(function(sub){ %>
     <option
       <%= post.escape("sub_id") == sub.id ? "selected" : null  %>
       value="<%= sub.id %>"
       >

       <%= sub.escape("title") %>
     </option>

  <% }) %>
 </select>

 <label>
   Upload Picture

   <input id="file-upload" type="file" name="post[photo]" value="<%= post.escape("photo_url") %>">

 </label>

 <button class="create-post">Publish</button>
</nav>

<label for="post_title">
  Title
<input
  type="text"
  name="post[title]"
  value="<%= post.escape("title") %>"
  id="post_title">
</label>

 <label for="post_body" >
   Article
 <textarea class="article"

   name="post[body]"

   id="post_body"><%= post.escape("body") %>
   </textarea>
 </label>



</form>

</main>
</body>
