
<head>
  <style>




  </style>
</head>

<body>

<main class="create-diy">
<form class="post-form" id="new-post-form">

<nav class="new-post-nav ">
<ul class="group post-form-nav">

<li class="choose-forum">
 <label for="post_sub_id">Forum</label>
 <select name="post[sub_id]" id="post_sub_id">
   <option value="">Choose Forum</option>
   <% subs.each(function(sub){ %>
     <option
       <%= post.escape("sub_id") == sub.id ? "selected" : null  %>
       value="<%= sub.id %>"
       >

       <%= sub.escape("title") %>
     </option>

  <% }) %>
 </select>
</li>

<li class='choose-pic'>
 <label class="upload-pic">
   Upload Picture

   <input id="file-upload" type="file" name="post[photo]" value="<%= post.escape("photo_url") %>">

 </label>
</li>
<li class='choose-button'>
 <button class="create-post">Publish</button>
</li>
</ul>
</nav>

<label for="post_title">

<input
  type="text"
  name="post[title]"
  value="<%= post.escape("title") %>"
  id="post_title"
       placeholder="Title"
       autofocus>
</label>

 <label for="post_body" >
   Article
 <textarea class="article" name="post[body]"
   id="post_body"><%= post.escape("body")  %>
   </textarea>
 </label>



</form>

</main>
</body>
