<button  id="refresh">Refresh</button>
<h3>All Posts</h3>

<ul>
  <% posts.each(function(post){ %>
    <li>
    <a href="#/posts/<%= post.id %>"><%= post.escape("title") %></a>
    <button class="delete" data-id="<%= post.id %>">Delete!</button>
    <a href="#/posts/<%= post.id %>/edit">Edit</a>
    <img src="<%= post.get("photo_display_url") %>">
    </li>


  <% }); %>


</ul>

<a href="/#/posts/new">Create Post</a>