<button  id="refresh">Refresh</button>
<br>
<a href="#/posts/new">Create Post</a>
<br>
<a href="#/subs">Explore All Subforums</a>

<h3>All Posts</h3>

<ul>
  <% posts.each(function(post){ %>
    <li>
    <a href="#/posts/<%= post.id %>"><%= post.escape("title") %></a>

    <img src="<%= post.get("photo_url") %>">


    <button class="delete" data-id="<%= post.id %>">Delete!</button>
    <a href="#/posts/<%= post.id %>/edit">Edit</a>

    </li>


  <% }); %>


</ul>
