

<head>
   <style>

   body{
     padding: 20px;
   }

   .posts > ul{
     float: right;
   }

   .posts > ul > li > a{
     display: block;
     float: left;
   }

   body{
     background: rgb(202, 227, 221);
   }

   nav.all-posts{
     width: 700px;
     height: auto;
     margin:auto;
     background: rgb(228, 234, 233);
   padding: 5px 10px;
   border: 1px solid lightblue;
   }

   main.all-posts{
     width:700px;
     min-height:500px;
     background: #f6f6f6;
     margin:auto;
   padding: 5px 10px;
   border: 1px solid lightblue;
   }



   nav >h3{
     font-weight:bold;
   }

  main.all-posts > ul{

   }

   main.all-posts > ul > li{
     float:left;
     width: 200px;
     margin: 15px;
     height: 200px;
     background: white;
     overflow: hidden;
     box-shadow: 0px 1px 2px #c4c4c4;
   }

   footer.posts-footer{
       width:700px;
       height:60px;
       background: rgb(228, 234, 233);
       margin:auto;
     padding: 5px 10px;
     border: 1px solid lightblue;
   }



   footer > ul{
     float:left;
   }

   footer >ul> li{
     float: right;
     padding: 10px 15px;
   }


   </style>
</head>

<body>

<nav class="all-posts">
  <form action="/posts" method="get">


    <label for="search_tag">
      Let's Make
    <input
      type="text"
      name="post[search]"

      id="post_search">
    </label>

    <a><input type="submit" value="Go!"></a>
  </form>
</nav>

<main class="all-posts">
<ul class="group">
  <% posts.each(function(post){ %>
    <li>
    <a href="#/posts/<%= post.id %>"><%= post.escape("title") %></a>  Score: <%=post.escape("score")%>)


   <%= console.log(posts.length) %>

    <img src="<%= post.get("photo_url") %>">






    </li>


  <% }); %>


</ul>
</main>

<footer class="posts-footer">
  <h4>Do It Yourself, Make It Unique!</h4>
</footer>
</body>