<head>
  <style>

  nav.post-show{
    width: 700px;
    height: 60px;
    margin:auto;
    background: rgb(228, 234, 233);
  padding: 5px 10px;
  border: 1px solid lightblue;
  }

  div.post-title{
      width: 700px;
      height: 60px;
     margin:auto;
      padding: 5px 10px;
  }

  main.post-article{
    width:700px;
    min-height:500px;
    background: rgb(241, 246, 245);
    margin:auto;
  padding: 5px 10px;
  border: 1px solid lightblue;
  }

  footer.post-footer{
      width:700px;
      height:60px;
      background: rgb(228, 234, 233);
      margin:auto;
    padding: 5px 10px;
    border: 1px solid lightblue;
  }

  .post-footer > ul{
    float:left;
  }

  .post-footer > ul > li{
    float: right;
  padding: 10px 15px;
  }

  .post-footer  button{
    color: blue
      background: transparent
    margin-top:0
  }

  .post-show > ul {
    float:left;

  }



  .post-show > ul > li{
    float: right;
  padding: 10px 15px;
  }



  p.post-title > ul {

  }

  p.post-title > ul > li {

    margin:auto;

  }

  img{

    margin-bottom: 20px;
  }
  </style>
</head>




<body>

<nav class="post-show">
  <ul class="group">
      <li><h3 >Subforum: <%= sub.escape("title") %></h3></li>
      <li><h3 >Channel: <%= channel.escape("title") %></h3></li>
  </ul>
</nav>




<main class="post-article">
<header class="post-header">

  <h1 class="title"><%= post.escape("title") %></h1>
  by: <a href="/users/<%=post.escape("user_id")%>/public"><%= post.escape("author_name") %></a>

  <ul class="group">
     <li>(Score: <%=post.escape("score")%>)</li>
      <li><a href="/posts/<%=post.id%>/upvote">like</a></li>
      <li><a href="/posts/<%=post.id%>/downvote">dislike</a></li>
  </ul>
</header>

<figure class="post-picture">
<img src="<%= post.get("photo_url") %>">
</figure>

<article class="post-article">
  <%= post.escape("body") %>
</article>



<form class="post-comment-form post-form" >
  <input type="hidden"
         name="comment[post_id]"
         value="<%= post.id %>">

  <label for="comment_body">
    Comment On This Post
  <input
    type="text"
    name="comment[body]"

    id="comment_body">
  </label>

   <button id="post-comment">Submit</button>

</form>

<ul class="comments"></ul>

<div class="comments-new"></div>

<ul class="comments">
  <% post.comments().each(function(comment){ %>
    <%= console.log("Comment author:", comment) %>
    <li class="root-comment"><%= comment.escape("body") %> (by:<a href="/users/<%=comment.get("user_id")%>/public">User<%=  comment.escape("user_id") %></a>)

    <a href="/comments/<%= comment.id %>/comments/new">Reply</a>
    </li>

  <% }) %>
</ul>
</main>

<footer class="post-footer">
  <ul class="footer-ul group">


    <% if (window.currentUser.id === post.get("user_id")){ %>
      <li><a><button class="delete" data-id="<%= post.id %>">Delete Post</button></a></li>
      <li><a href="#/posts/<%= post.id %>/edit">Edit Post</a></li>
   <% } %>




</ul>
</footer>
</body>





