<head>
  <style>



  div.post-title{
      width: 700px;
      height: 60px;
     margin:auto;
      padding: 5px 10px;
  }

  .post-show > ul {
    float:left;

  }



  .post-show > ul > li{
    float: right;
  padding: 10px 15px;
  }



  p.post-title > ul {

  }

  p.post-title > ul > li {

    margin:auto;

  }





  button.reply-button{
    color: white;
  }

  button.delete{
      border: 0
      background: transparent;
  }
  .title{
      color: black;
      display: inline;

  }
  figure.post-picture{
      border: 1px solid grey;
      margin-bottom:20px;
      padding:20px;
      border-radius:5px;
      background: #F8F8F8;
      box-shadow: 0 10px 10px #ccc;
  }


  img.post-image{
      border:0;

 }
 pre{
     white-space: pre-wrap;
 }

  </style>
</head>




<body>






<main class="post-article other">
<header class="post-header">

  <h1 class="title"><%= post.escape("title") %></h1>


  <ul class=" icons group">

      <li><a  class="like" href="/posts/<%=post.id%>/upvote"></a></li>
      <li><a class="dislike" href="/posts/<%=post.id%>/downvote"></a></li>

  <% if (window.currentUser.id === post.get("user_id")){ %>

    <li class="edit-post"><a href="#/posts/<%= post.id %>/edit"><button>Edit Post</button></a></li>
      <li class="delete_post"><a><button class="delete" data-id="<%= post.id %>">Delete Post</button></a></li>
 <% } else { %>

<% } %>
  </ul>
</header>

<div class="post-body">
<figure class="post-picture">
<img class="post-image" src="<%= post.get("photo_url") %>">
</figure>

<article class="post-article">
  <pre><%= post.escape("body") %></pre>
</article>



<form class="post-comment-form " >
  <input type="hidden"
         name="comment[post_id]"
         value="<%= post.id %>">

 <div class="comment-body group">
     <div class="comment-head">
     </div>
   <label for="comment_body" >

   <textarea class="comment"

     name="comment[body]"

     id="comment_body">
     </textarea>
   </label>

 </div>


     <button id="post-comment">Make Comment</button>

</form>

<ul class="comments"></ul>

<div class="comments-new"></div>

<ul class="comments">
  <% post.comments().each(function(comment){ %>
    <%= console.log ("parent comment:", comment.get("parent_comment_id")=== null) %>
     <% if (comment.get("parent_comment_id") === null ) { %>

       <li class="root-comment comment group">
               <div class="user-avatar"></div>

                <div class="right-comment">
               <div class="main-comment group">

                <div class="comment-user-name"><a href="/users/<%=comment.get("user_id")%>/public">User<%=  comment.escape("user_id") %></a></div>
                 <div><%=comment.escape("created_at")%></div>
                 <div><button id="post-comment" class='reply-comment'>Reply</button></div>

               </div>

               <div class="comment-time">
                 <div class="comment-user-comment"><%= comment.escape("body") %></div>
              </div>
              </div>
       </li>


    <% } else { %>
      <ul class="nested-comments">


         <li class="comment group">
               <div class="user-avatar"></div>

              <div class="right-comment">
               <div class="main-comment">

                <div class="comment-user-name"><a href="/users/<%=comment.get("user_id")%>/public">User<%=  comment.escape("user_id") %></a></div>
                 <div><%=  comment.escape("created_at")%></div>

                 <div><button id="post-comment" class='reply-comment'>Reply</button></div>

               </div>

               <div class="comment-time">
                 <div class="comment-user-comment"><%= comment.escape("body") %></div>
              </div>
            </div>
         </li>

      </ul>

    <% }%>


  <% }) %>
</ul>
</div>
</main>

</body>





