
<a href="#/">Explore All Posts</a>





<header class="post-header">
  <h1 class="title"><%= post.escape("title") %></h1>





<article class="post-article">
  <%= post.escape("body") %>
</article>

<figure class="post-picture">
<img src="<%= post.get("photo_url") %>">
</figure>

<form class="post-comment-form" >
  <input type="hidden"
         name="comment[post_id]"
         value="<%= post.id %>">

  <label for="comment_body">
    Comment On This Post
  <input
    type="text"
    name="comment[body]"

    id="comment_body">
  </label>

   <button id="post-comment">Submit</button>

</form>

<ul class="comments"></ul>

<div class="comments-new"></div>

<ul>
  <% post.comments().each(function(comment){ %>
    <li><%= comment.escape("body") %> (Published at:<%= comment.escape("created_at") %>)(Author:<%=  comment.escape("user_id") %>)

    <a href="/comments/<%= comment.id %>/comments/new">Reply</a>
    </li>

  <% }) %>
</ul>






