<head>
  <style>

  </style>
</head>

<body>
<% action_url = (action == :edit ? user_url(user) : users_url) %>

<form action="<%= action_url %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>" >

   <% if action == :edit %>
       <input type="hidden" name="_method" value="put">
     <% end %>


  <label for="user_email">Email (Required)</label>
  <input class="space"
    type="email"
    name="user[email]"
  value="<%= user.email %>"
    id="user_email">


  <label for="user_username">Username (Required)</label>
  <input class="space"
    type="text"
    name="user[username]"
    value="<%= user.username %>"
    id="user_username">


  <label for="user_password">Password (Required)</label>
  <input class="space"
    type="password"
    name="user[password]"
  value="<%= user.confirm_password %>"
    id="user_password">



  <label for="user_confirm_password">Confirm Password (Required)</label>
  <input class="space"
    type="password"
    name="user[confirm_password]"
  value="<%= user.confirm_password %>"
    id="user_confirm_password">



  <label for="user_age">Age (Optional)</label>
  <input class="space"
    type="text"
    name="user[age]"
  value="<%= user.age %>"
    id="user_age">





  <label for="user_zip">
    Zip (Optional)
    <input class="space"
      type="text"
      name="user[zip]"
    value="<%= user.zip %>"
      id="user_zip">
  </label>


  <label for="user_gender">Gender (Optional)</label>
  <select name="user[gender]" id="user_gender">
    <option></option>
    <% User::GENDERS.each do |gender| %>
      <option
        <%= user.gender == gender ? "selected" : "" %>
        value="<%= gender %>">
        <%= gender %>
      </option>
    <% end %>
  </select>


<br>
  <label>
    Upload Picture

    <input type="file" name="user[photo]" value="<%= user.photo %>">

  </label>
<button class="submit-button">
  <input  type="submit" value="<%= action == :edit ? "Edit" : "Sign Up!"%>">
  </button>
</form>

</body>
