<head>
  <style>

  </style>
</head>

<body>
<% action_url = (action == :edit ? user_url(user) : users_url) %>

<form  class="edit-user" action="<%= action_url %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>" >

   <% if action == :edit %>
       <input type="hidden" name="_method" value="put">
     <% end %>


 <div class="edit-form-element">
  <label for="user_email">Email</label>
  <input class="space"
    type="email"
    name="user[email]"
  value="<%= user.email %>"
    id="user_email">
</div>

 <div class="edit-form-element">
  <label for="user_username">Username</label>
  <input class="space"
    type="text"
    name="user[username]"
    value="<%= user.username %>"
    id="user_username">
</div>

 <div class="edit-form-element">
  <label for="user_password">Password</label>
  <input class="space"
    type="password"
    name="user[password]"
  value="<%= user.confirm_password %>"
    id="user_password">
</div>

 <div class="edit-form-element">
  <label for="user_confirm_password">Confirm Password</label>
  <input class="space"
    type="password"
    name="user[confirm_password]"
  value="<%= user.confirm_password %>"
    id="user_confirm_password">
</div>

 <div class="edit-form-element">
  <label for="user_age">Age</label>
  <input class="space"
    type="text"
    name="user[age]"
  value="<%= user.age %>"
    id="user_age">
</div>



 <div class="edit-form-element">
  <label for="user_zip">
    Zip
    <input class="space"
      type="text"
      name="user[zip]"
    value="<%= user.zip %>"
      id="user_zip">
  </label>
</div>

 <div class="edit-form-element">
  <label for="user_gender">Gender</label>
  <select name="user[gender]" id="user_gender">
    <option></option>
    <% User::GENDERS.each do |gender| %>
      <option
        <%= user.gender == gender ? "selected" : "" %>
        value="<%= gender %>">
        <%= gender %>
      </option>
    <% end %>
  </select>
</div>

 <div class="edit-form-element">
  <label>
    Upload Picture

    <input type="file" name="user[photo]" value="<%= user.photo %>">

  </label>
</div>

<button class="edit-profile-button">
  <input  type="submit" value="<%= action == :edit ? "Update Profile" : "Sign Up!"%>">
  </button>
</form>

</body>
