<% action_url = (action == :edit ? user_url(user) : users_url) %>

<form action="<%= action_url %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>" >

   <% if action == :edit %>
       <input type="hidden" name="_method" value="put">
     <% end %>


  <label for="user_email">Email</label>
  <input
    type="email"
    name="user[email]"
    id="user_email">
    <br>

  <label for="user_username">Username</label>
  <input
    type="text"
    name="user[username]"
    value="<%= user.username %>"
    id="user_username">
    <br>

  <label for="user_password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="user_password">

  <br>

  <label for="user_confirm_password">Confirm Password</label>
  <input
    type="password"
    name="user[confirm_password]"
    id="user_confirm_password">

  <br>

  <label for="user_age">Age</label>
  <input
    type="text"
    name="user[age]"
    id="user_age">

  <br>

  <label for="user_gender">Gender</label>
  <select name="user[gender]" id="user_gender">
    <option>(select)</option>
    <% User::GENDERS.each do |gender| %>
      <option
        <%= user.gender == gender ? "selected" : "" %>
        value="<%= gender %>">
        <%= gender %>
      </option>
    <% end %>
  </select>
  <br>

  <label for="user_zip">
    Zip
    <input
      type="text"
      name="user[zip]"
      id="user_zip">or Postal Code if you are outside US.
  </label>


  <br>
  <label>
    Upload Picture
 
    <input type="file" name="user[photo]">
  
  </label>

  <input type="submit" value="SIGN UP!">
</form>


