<h1>Welcome!<%= current_user.username.nil? ? "Guest" : current_user.username %></h1>

Age: <%= current_user.age %>
<br>

Gender: <%= current_user.gender %>
<br>

Zip: <%= current_user.zip %>
<br>

<%= image_tag @user.photo.url(:thumb) %>
<br>

<a href="<%= new_message_url %>">Write Message</a>

<br>


  
    
 

<a href="<%= messages_url %>">Inbox</a>(Unread: <%= @user.received_messages.select { |msg| !msg.read }.count %>)

