<head>
  <style>



  nav.user > ul{

  }

  nav.user > ul > li{
    float:left;
    padding: 10px 15px;
  }

  main.user{
    width:700px;
    min-height:500px;
    background: rgb(241, 246, 245);
    margin:auto;
  padding: 5px 10px;
  border: 1px solid lightblue;
  }

  figure{
    width: 100px;
    height: auto;
  }





  main > .user-pic{

    margin: 50px;
    margin-left:300px;
  }

  main > .user-info{

    margin:50px;
  }

  main > .user-info > ul > li{
    padding: 10px 15px;
    font-weight: bold;
  }
  .welcome>h1{
      margin: 0;
  }
  .join-time{
      float:right;
  }
  .middle{
      padding: 20px;
      border-bottom: 2px solid lightgrey;
  }
  .middle>div{
      display: inline-block;
      float: left;
      padding: 20px;
  }

  .user-link a{
      font-size: 20px;
      color: grey;
  }
  .user-link a:hover{
      cursor: pointer;
      color: darkgrey;
      text-decoration: underline;
  }
  .user-posts{
      padding: 30px;

  }
  .user-posts > h2{
      font-weight: bold;
      margin-bottom: 20px;
  }
  .post-pic{
      width: 200px;
      height: 200px;
  }
  </style>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59233651-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body>
<main class="post-article other user-profile">

<nav class="user">
  <ul class="group">


   <li class="welcome">
   <h1><%= current_user.username == "" ? "Guest" : current_user.username %></h1>
 </li>
 <li class="join-time">Joined at: <%= current_user.created_at.to_formatted_s(:long)%></li>
</ul>
</nav>


<div class="middle group">

    <div class="user-pic">
    <figure class="user">
      <%= image_tag @user.photo.url(:thumb) %>
    </figure>
    </div>

     <div class="user-link">
    <ul class="group">
      <li><a href="<%= new_message_url %>">Write Message</a></li>

      <li><a href="<%= messages_url %>">Inbox(Unread: <%= @user.received_messages.select { |msg| msg.draft == "N" && !msg.read && !msg.blocked }.count %>)</a></li>

     <li><a href="<%= collects_url %>">Collection</a></li>

     <li><a href="<%= personal_posts_url %>">Your Posts</a></li>
     <li><a href="<%= edit_user_url(current_user) %>">Edit Profile</a></li>

    </ul>
    </div>



  <div class="user-info">
  <ul class="group">
     <li><strong>Age: </strong><%= current_user.age || "Not Available" %></li>
     <li><strong>Gender: </strong><%= current_user.gender || "Not Available" %></li>
     <li><strong>Zip: </strong><%= current_user.zip || "Not Available"%></li>
  </ul>
  </div>

</div>

<div class='user-posts'>
    <h2>Your posts</h2>
    <ul class="group collect-posts">
        <% current_user.posts.each do |p| %>
         <li class="group">
             <div class='post-pic'><%= image_tag p.photo.url(:medium) %></div>
             <a href="/#/posts/<%= p.id %>"><%= p.title %></a>
         </li>
        <% end %>
    </ul>
</div>

</main>



</body>


