<head>
  <style>



  nav.user > ul{

  }

  nav.user > ul > li{
    float:left;
    padding: 10px 15px;
  }

  main.user{
    width:700px;
    min-height:500px;
    background: rgb(241, 246, 245);
    margin:auto;
  padding: 5px 10px;
  border: 1px solid lightblue;
  }

  figure{
    width: 100px;
    height: auto;
  }

  main.welcome{


  }

  main > .welcome > h1{
    margin: 50px;
  }

  main > .user-pic{

    margin: 50px;
    margin-left:300px;
  }

  main > .user-info{

    margin:50px;
  }

  main > .user-info > ul > li{
    padding: 10px 15px;
    font-weight: bold;
  }

  </style>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59233651-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body>
<main class="post-article other user-profile">

<nav class="user">
  <ul class="group">
  <li><a href="<%= new_message_url %>">Write Message</a></li>




  <li><a href="<%= messages_url %>">Inbox</a>(Unread: <%= @user.received_messages.select { |msg| msg.draft == "N" && !msg.read && !msg.blocked }.count %>)</li>

 <li><a href="<%= collects_url %>">Collection</a></li>


 <li><a href="<%= personal_posts_url %>">Your Posts</a></li>
 <li><a href="<%= edit_user_url(current_user) %>">Edit Profile</a></li>
 <li>Joined at: <%= current_user.created_at.to_formatted_s(:short)%></li>
</ul>
</nav>




  <div class="welcome">
  <h1>Welcome!<%= current_user.username == "" ? "Guest" : current_user.username %></h1>
  </div>

  <div class="user-pic">
  <figure class="user">
    <%= image_tag @user.photo.url(:thumb) %>
  </figure>
  </div>

  <div class="user-info">
  <ul class="group">
     <li>Age: <%= current_user.age || "Not Available" %></li>
     <li>Gender: <%= current_user.gender || "Not Available" %></li>
     <li>Zip: <%= current_user.zip || "Not Available"%></li>
  </ul>
  </div>

</main>

<footer>
  <li><h4>Do It Yourself, Make It Unique!</h4></li>
</footer>

</body>


