<head>
  <style>
   

  </style>
</head>

<body>
<h1>Welcome!<%= current_user.username == "" ? "Guest" : current_user.username %></h1>

<a href="<%= new_message_url %>">Write Message</a>




<a href="<%= messages_url %>">Inbox</a>(Unread: <%= @user.received_messages.select { |msg| msg.draft == "N" && !msg.read && !msg.blocked }.count %>)

<a href="<%= collects_url %>">Collection</a>


<a href="<%= personal_posts_url %>">Your Posts</a>









Age: <%= current_user.age %>


Gender: <%= current_user.gender %>


Zip: <%= current_user.zip %>


<%= image_tag @user.photo.url(:thumb) %>

</body>


