<h1>Welcome!<%= current_user.username.nil? ? "Guest" : current_user.username %></h1>

Age: <%= current_user.age %>
<br>

Gender: <%= current_user.gender %>
<br>

Zip: <%= current_user.zip %>
<br>

<%= image_tag @user.photo.url(:thumb) %>
