<a href="#/posts">Explore All Posts</a>
<br>
<a href="#/posts/new">Create Post</a>

<h1><%= sub.escape("title") %></h1>

<h3>Posts</h3>
<ul>
  <% posts.each(function(post){ %>


    <% if(post.get("sub_id") === sub.id){ %>

     <li><a href="#/posts/<%= post.id %>"><%= post.escape("title") %></a></li>
     <figure class="post-picture">
     <img src="<%= post.get("photo_url") %>">
     </figure>
  <% } %>


  <% }) %>
</ul>


<h3>Channels</h3>
<ul>
  <% channels.each(function(channel){ %>


    <% if(channel.get("sub_id") === sub.id){ %>

     <li><a href="#/channels/<%= channel.id %>"><%= channel.escape("title") %></a></li>

  <% } %>


  <% }); %>
</ul>


