
<head>
  <style>

  </style>

</head>
<body>
<nav class="home">
  <form action="<%= posts_url %>" method="get">
    <input type="hidden" name="authenticity_token"
           value="<%= form_authenticity_token %>" />

    <label for="search_tag">
      Let's Make
    <input
      type="text"
      name="post[search]"

      id="post_search">
    </label>

    <a><input type="submit" value="Go!"></a>
  </form>
</nav>

<main class="home">




<div class="sub-list group">
  <ul class="group">
  <% @subs.each do |sub| %>
   <li><%= link_to sub.title, sub_url(sub)  %>

   </li>
  <% end  %>
</ul>
</div>

<h1 class="featured-articles">Featured</h1>
 <div class="featured group">
  <ul class="group">
    <% @posts.each do |post| %>
      <li><%= link_to post.title, post_url(post)%> ( Score: <%= post.score %>)
      <div class="thumb-pic">
        <a href="<%= post_url(post) %>"><%= image_tag post.photo.url(:medium) %></a>
    </div>

    </li>
    <% end %>
 </ul>
 </div>


</main>
<footer>
  <li><h4>Do It Yourself, Make It Unique!</h4></li>
</footer>

</body>




