
<head>
  <style>
  ul{
    float:right;
  }
  main{
    padding: 0 20px 20px 20px;

  }

  main >ul >li> a{
    display:block;
    font-weight: bold;
    margin-top:50px;
    padding-right: 300px;
    font-size: 24px;
  }

  main.home > div.sub-list > ul{
    float:left;
  }

  main.home > div.sub-list > ul > li{
    float: right;
  margin: 20px;

  }

  main.home > div.sub-list > ul > li > a{
    font-weight: bold;
    font-size: 20px;
  color: black;

  }

  main.home > div.sub-list > ul > li > a:hover{
    color: lightgrey;


  }

  h3{
    font-weight:bold

  }

  nav.home{
    width: 700px;
    height: 60px;
    margin:auto;
    background: rgb(228, 234, 233);
  padding: 5px 10px;
  border: 1px solid lightblue;
  }

  main.home{
    width:700px;
    min-height:500px;
    background: rgb(241, 246, 245);
    margin:auto;
  padding: 5px 10px;
  border: 1px solid lightblue;

  }

  .featured > ul > li{
    float:left;
    width: 200px;
    margin: 15px;
    height: 200px;
    background: white;
    overflow: hidden;
    box-shadow: 0px 1px 2px #c4c4c4;
  }

   h1.featured-articles{
    text-align: center;
  }

  </style>

</head>
<body>
<nav class="home">
  <form action="<%= posts_url %>" method="get">
    <input type="hidden" name="authenticity_token"
           value="<%= form_authenticity_token %>" />

    <label for="search_tag">
      Let's Make
    <input
      type="text"
      name="post[search]"

      id="post_search">
    </label>

    <a><input type="submit" value="Go!"></a>
  </form>
</nav>

<main class="home">




<div class="sub-list group">
  <ul class="group">
  <% @subs.each do |sub| %>
   <li><%= link_to sub.title, sub_url(sub)  %>

   </li>
  <% end  %>
</ul>
</div>

<h1 class="featured-articles">Featured</h1>
 <div class="featured group">
  <ul class="group">
    <% @posts.each do |post| %>
      <li><%= link_to post.title, post_url(post)%> ( Score: <%= post.score %>)
      <div class="thumb-pic">
        <a href="<%= post_url(post) %>"><%= image_tag post.photo.url(:medium) %></a>
    </div>

    </li>
    <% end %>
 </ul>
 </div>


</main>
<footer>
  <li><h4>Do It Yourself, Make It Unique!</h4></li>
</footer>

</body>




