<head>
  <style>

  body{
    padding: 20px;
  }

  .posts > ul{
    float: right;
  }

  .posts > ul > li > a{
    display: block;
    float: left;
  }

  body{
    background: rgb(202, 227, 221);
  }

  nav.sub-show{
    width: 700px;
    height: auto;
    margin:auto;
    background: rgb(228, 234, 233);
  padding: 5px 10px;
  border: 1px solid lightblue;
  }

  main.posts-sub{
    width:700px;
    min-height:500px;
    background: rgb(241, 246, 245);
    margin:auto;
  padding: 5px 10px;
  border: 1px solid lightblue;
  }



  nav >h3{
    font-weight:bold;
  }

 main.posts-sub > ul{

  }

  main.posts-sub > ul > li{
    float:left;
    width: 200px;
    margin: 15px;
    height: 200px;
    background: white;
    overflow: hidden;
    box-shadow: 0px 1px 2px #c4c4c4;
  }

  footer.sub-footer{
      width:700px;
      height:60px;
      background: rgb(228, 234, 233);
      margin:auto;
    padding: 5px 10px;
    border: 1px solid lightblue;
  }



  footer > ul{
    float:left;
  }

  footer >ul> li{
    float: right;
    padding: 10px 15px;
  }


  </style>
</head>


<body>
<nav class="sub-show">

  <h3><%= @sub.title %></h3>


</nav>

<main class="posts-sub">
<ul class="posts group">

  <% @sub.posts.each do |post| %>
   <li class="post-img"><%= link_to post.title, post_url(post) %>
     <a href="<%= post_url(post) %>"><%= image_tag post.photo.url(:thumb) %></a>
   </li>

 <% end %>
</ul>
</main>

<footer class='sub-footer'>
<ul class="sub-footer group">

  <% @sub.channels.each do |channel| %>
    <li class="channel-name"><a><%= link_to channel.title, channel_url(channel) %></a></li>
  <% end %>
</ul>







</footer>
</body>