<head>

</head>


<body>
<main class="all-posts photo-grid">



<ul class="group">

  <% @posts.each do |post| %>
      <li ><a href="/#/posts/<%= post.id %>">
         <div class='post-pic'><%= image_tag post.photo.url(:medium) %></div>
         <div class='post-info'><%= post.title %></div>
         <div class='post-score'>Likes: <%= post.score%></div>

         </a>
      </li>





  <% end %>



</ul>

</main>

<footer class="posts-footer">
  <%= paginate @posts%>

</footer>
</body>