
<head>
  <style>

  </style>
</head>
<body>
  <nav class='new-post'>
      <form action="<%= posts_url %>" method="get">
        <input type="hidden" name="authenticity_token"
               value="<%= form_authenticity_token %>" />

        <label for="search_tag">
          Let's Make
        <input
          type="text"
          name="post[search]"

          id="post_search">
        </label>

        <a><input type="submit" value="Go!"></a>
      </form>
   </nav>

<form class="post-form" action="<%= posts_url %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>" >



  <label for="post_title">
    Title
  <input
    type="text"
    name="post[title]"
    value="<%= @post.title %>"
    id="post_title">
  </label>

<div class="post-form-body">
  <label for="post_body" >
    Article
  <textarea class="article"

    name="post[body]"

    id="post_body"><%= @post.body %>
    </textarea>
  </label>

</div>


  <label for="post_sub_id">Subforum</label>
  <select name="post[sub_id]" id="post_sub_id">
    <option value="">Choose Category(Sub)</option>
    <% Sub.all.each do |sub| %>
      <option
        <%= @post.sub_id == sub.id ? "selected" : nil  %>
        value="<%= sub.id %>"
        >

        <%= sub.title %>
      </option>
    <% end %>
  </select>


  <label for="post_channel_id">Channel</label>
  <select name="post[channel_id]" id="post_channel_id">
    <option value="">Choose Channel</option>
    <% Channel.all.each do |channel| %>
      <option
        <%= @post.channel_id == channel.id ? "selected" : nil  %>
        value="<%= channel.id %>"
        >

        <%= channel.title %> (<%= channel.sub.title %>)
      </option>
    <% end %>
  </select>


  <label>
    Upload Picture

    <input type="file" name="post[photo]">

  </label>


 <button class="create-post">

  <input type="submit" value="submit">
  </button>

</form>

<footer>
  <li><h4>Do It Yourself, Make It Unique!</h4></li>
</footer>
</body>