

<head>
  <style>

  nav.post-show{
    width: 700px;
    height: 60px;
    margin:auto;
    background: rgb(228, 234, 233);
  padding: 5px 10px;
  border: 1px solid lightblue;
  }

  div.post-title{
      width: 700px;
      height: 60px;
     margin:auto;
      padding: 5px 10px;
  }



  main.post-article{
    width:700px;
    min-height:500px;
    background: rgb(241, 246, 245);
    margin:auto;
  padding: 5px 10px;
  border: 1px solid lightblue;
  }

  footer.post-footer{
      width:700px;
      height:60px;
      background: rgb(228, 234, 233);
      margin:auto;
    padding: 5px 10px;
    border: 1px solid lightblue;
  }

  .post-footer > ul{
    float:left;
  }

  .post-footer > ul > li{
    float: right;
  padding: 10px 15px;
  }

  .post-show > ul {
    float:left;

  }

  .post-show > ul > li{
    float: right;
  padding: 10px 15px;
  }



  p.post-title > ul {

  }

  p.post-title > ul > li {

    margin:auto;

  }

  img{
    margin-bottom:20px;
  }

  img.tiny-picture{
    height:20px;
    width:20px;
  }

  .post-header{
    margin: auto;
  }
  </style>
</head>


<body>

<nav class="post-show">
  <ul class="group">
      <li><h3 >Subforum: <%= @post.sub.title %></h3></li>
      <li><h3 >Channel: <%= @post.channel.title %></h3></li>
  </ul>
</nav>

<main class="post-article">

<ul class="post-header group">
      <li><h1 class="title"><%= @post.title %></h1></li>


    <li><h4>by: <%= User.find(@post.user_id).username || "Guest" %></h4></li>



    <li><h5>Score: <%= @post.score %></h5></li>
    <li><%= link_to "like", upvote_post_url(@post) %></li>
    <li><%= link_to "dislike", downvote_post_url(@post) %></li>

  <li><a><%= button_to "Collect", post_collects_url(@post), method: :post %></a></li>
  <% if @post.user_id != current_user.id %>
     <li><%= link_to "Write To Auther", new_message_url %></li>
  <% end %>
  </ul>


<figure class="post-picture">
<%= image_tag @post.photo.url %>
</figure>

<article class="post-article">
  <%= @post.body %>
</article>




<form class="post-form" action="<%= post_comments_url(@post) %>" method="post">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>" />

  <label for="comment_body">
    Comment On This Post
  <input
    type="text"
    name="comment[body]"

    id="comment_body">
  </label>



   <button>Submit</button>

</form>



<comments class="post-comments">
<h5>Comments:</h5>
<ul class="comments">
  <% @all_comments = Comment.where(post_id: @post.id) %>

  <% @all_comments.each do |comment| %>
    <% if comment.parent_comment_id.nil? %>

      <li class="root-comment"><%= comment.body %>(By: <%= comment.user.username || "Guest" %>, Published at:<%= comment.created_at.to_s %>)

        <button class="comment-button">
        <%= button_to "Reply", new_comment_comment_url(comment), method: :get %>
        </button>

        <%= render "comments/comment", c1:comment, all_comments:@all_comments, post:@post %>
      </li>

    <% end %>
  <%  end %>
</ul>

</comments>
</main>

<footer class="post-footer">
  <ul class="footer-ul group">
<% if @post.user_id == current_user.id %>
  <li><%= link_to "Edit post", edit_post_url %></li>
  <li><a><%= button_to "Delete post", post_url, method: :delete %></a></li>
  <% else %>
  <li><h4>Do It Yourself, Make It Unique!</h4></li>
<% end %>
</ul>
</footer>
</body>


