

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  header a{

  }

  .ul-right-form{
    width:60px;
    height: 30px;
  background: transparent;
  margin:0;
  padding:0;
  padding-right:10px;
  }
  </style>

  <title>Diy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <nav class="header group">
      <ul class="header-ul-left group">
        <li><a href="/#/posts/new">Create Post</a></li>

        <li><a href="/#/posts">Posts</a></li>
    <li><a href="/">Home</a></li>
      </ul>

      <% if current_user %>

        <ul class="header-ul-right group">
          <li><a href="<%= user_url(current_user) %>">You</a></li>
          <li>
            <form class="ul-right-form" action="<%= session_url %>" method="post">
              <input type="hidden" name="authenticity_token"
                     value="<%= form_authenticity_token %>" />
              <input type="hidden" name="_method" value="delete">
              <input class="form-input" type="submit" value="Log Out" id="signout-button">
            </form>
          </li>
        </ul>

      <% else %>

          <ul class="header-ul-right group">
              <li><a  href="/auth/facebook">Facebook Log In</a></li>
            <li><a href="<%= demo_session_url %>">Guest Log In</a></li>
            <li><a href="<%= new_user_url %>">Sign Up</a></li>
          </ul>

      <% end  %>
    </nav>
  </header>

  <% if flash[:errors] %>
    <h2><%=  flash[:errors].join(", ").html_safe %></h2>
  <% elsif flash[:notice] %>
    <h2><%=  flash[:notice].html_safe %></h2>
  <% end %>


<%= yield %>

</body>
</html>