<!DOCTYPE html>

<html>
<head>
  <style>
  
  html, body, header, nav, ul, li, a,form{
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
  }
  
  
 
  input[type="submit"] {
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    width: auto;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
    cursor: pointer;
  }

  
  ul{
    list-style: none;
  }
  
  .group:after{
    content: "";
    display: block;
    clear: both;
  }
  
  body{
    background: lightgrey;
    display: block;
    font-family: sans-serif;
  }
  
  .header{
    background: red;
    width: 100%;
   
    display: block;
  }
  
  .header > nav {
    
  }
  
  .header-ul-left {
    float: left;
  }
  
  .header-ul-left > li {
    float: right;
    padding: 30px;
  }
  
  .header-ul-left > li > a {
   
  }
  
  .header-ul-left > li > a:hover {
    
  }
  
  .header-ul-right {
    float: right;
  }
  
  .header-ul-right > li {
    float: left;
    padding: 30px;
  }
  
  .header-ul-right > li > a {
   
  }
  
  .header-ul-right > li > a:hover {
   
  }
  
  .header-ul-right > li > form {
    
  }
  
  .header-ul-right > li > form > input {
    
  }
  
  
  .header-ul-right > li > form > input:hover {
    
  } 
  
  .header input, 
  .header a {
    color: white;
    background: blue;
    padding: 10px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .header input:hover, 
  .header a:hover {
    color: darkgrey;
    text-decoration: underline;
  }
 
  </style>
  <title>Diy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <nav class="group">
      <ul class="header-ul-left group">
        <li><a href="<%= new_post_url %>">Create Instructables</a></li>
        <li><a href="<%= subs_url %>">Explore Instructables</a></li>
        <li><a href="<%= posts_url %>">Explore All Categories</a></li>
      </ul>
      
      <% if current_user %>
      
        <ul class="header-ul-right group">
          <li><a href="user_url(current_user)">User Profile</a></li>
          <li>
            <form class="ul-right-form" action="<%= session_url %>" method="post">
              <input type="hidden" name="authenticity_token"
                     value="<%= form_authenticity_token %>" />
              <input type="hidden" name="_method" value="delete">
              <input class="form-input" type="submit" value="Log Out">
            </form>
          </li>
        </ul>
        
      <% else %>
        
          <ul class="header-ul-right group">
            <li><a href="<%= new_session_url %>">Log In</a></li>
            <li><a href="<%= new_user_url %>">Sign Up</a></li>
          </ul>
        
      <% end  %>
    </nav>
  </header>
  
  
  
  
  
  
  
  


  <%=  flash[:errors].join(", ").html_safe if flash[:errors]%>
  <%=  flash[:notice].html_safe if flash[:notice]%>
<%= yield %>

</body>
</html>
