

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

  .ul-right-form{
    width:60px;
    height: 30px;
  background: transparent;
  margin:0;
  padding:0;
  padding-right:10px;
  }
  </style>

  <title>Diy</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
  $(
      function(){

          $("#login-button").click(function(event){
              event.preventDefault();
              event.stopPropagation();
              var blank = false;
              $(".login-modal").find("input.login-info").each(function(i,v){
                  if ($(v).val().length <1){
                      blank = true;
                  }
              });
              if(blank){
                  alert("Please fill in all the information!");
                  return;
              };
              var attrs = $(".login-modal").find("form").serializeJSON();

              $.ajax({
                  type: "POST",
                  url: "<%= session_url%>",
                  data: attrs,
                  success:function(data){

                      $("button#cancel-login").trigger('click');
                      $("#home-link").trigger("click");
                      alert("Log in success! Please go to home page to start!");

                  },
                  error: function(){
                      alert("Email or username or password not correct!");
                  }
              });
          });

          $("#signup-button").click(function(event){
              event.preventDefault();
              event.stopPropagation();
              var blank = false;
              $(".signup-modal").find("input.signup-info").each(function(i,v){
                  if ($(v).val().length <1){
                      blank = true;
                  }
              });

              if(blank){
                  alert("Please fill in all the information!");
                  return;
              } else {
                  if ($($(".signup-modal").find("input.signup-info")[2]).val().length < 6){
                      alert("Password too short. Minimum 6 characters!");
                      return;
                  }
              };

              var attrs = $(".signup-modal").find("form").serializeJSON();
              $.ajax({
                  type: "POST",
                  url: "<%= users_url%>",
                  data: attrs,
                  success:function(){
                      $("button#cancel-signup").trigger('click');
                  },
                  error: function(){
                      alert("Email or username already taken!");
                  }
              });
          });

          $("button#cancel-signup").click(function(event){
              event.preventDefault();
              event.stopPropagation();
              $(".signup-modal").find("input.signup-info").val("");
              $(".signup-overlay").addClass("no-display");
              $(".signup-modal").addClass("no-display");
          });

          $("button#cancel-login").click(function(event){
              event.preventDefault();
              event.stopPropagation();

              $(".login-modal").find("input.login-info").val("");
              $(".login-overlay").addClass("no-display");
              $(".login-modal").addClass("no-display");
          });

          $("a#nav-login").click(function(event){
              event.preventDefault();
              event.stopPropagation();

              $(".login-overlay").removeClass("no-display");
              $(".login-modal").removeClass("no-display");
          });

          $("a#nav-signup").click(function(event){
              event.preventDefault();
              event.stopPropagation();

              $(".signup-overlay").removeClass("no-display");
              $(".signup-modal").removeClass("no-display");
          });

          $(".create-new-post").click(function(event){
              event.preventDefault();
              event.stopPropagation();
              <% if !current_user %>
              alert("Please log in or sign up first!");

              <% else %>
                  // if( !window.currentUser){
//                       alert("This is a bug need to fix in application.html.erb!");
//                       return;
//                   }
window.currentUser = {id: <%= current_user.id %>s};
// console.log(window.currentUser);
                  Backbone.history.navigate("posts/new", { trigger: true });
              <% end %>

          });


      }

  );

  </script>
</head>
<body>
  <header class="header">
    <nav class="header group">
      <ul class="header-ul-left group">
        <li><a class="create-new-post" href="/#/posts/new">Create Post</a></li>

        <li><a href="/#/posts">Posts</a></li>
    <li><a id="home-link" href="/">Home</a></li>
      </ul>

      <% if current_user %>

        <ul class="header-ul-right group">
          <li><a href="<%= user_url(current_user) %>">Your Profile</a></li>
          <li>
            <form class="ul-right-form" action="<%= session_url %>" method="post">
              <input type="hidden" name="authenticity_token"
                     value="<%= form_authenticity_token %>" />
              <input type="hidden" name="_method" value="delete">
              <input class="form-input" type="submit" value="Log Out" id="signout-button">
            </form>
          </li>
        </ul>

      <% else %>

          <ul class="header-ul-right group">

            <li><a id="nav-login">Log In</a></li>
            <li><a id="nav-signup">Sign Up</a></li>
          </ul>

      <% end  %>
    </nav>
  </header>

  <% if flash[:errors] %>
    <h2><%=  flash[:errors].join(", ").html_safe %></h2>
  <% elsif flash[:notice] %>
    <h2><%=  flash[:notice].html_safe %></h2>
  <% end %>
<%= yield %>

<div class='login-overlay no-display'>
</div>

<div class="login-modal no-display">

    <form class="login-form"  enctype="multipart/form-data">
      <input type="hidden" name="authenticity_token"
             value="<%= form_authenticity_token %>" >



      <label for="user_email" >Email </label>
      <input class="space login-info"
        type="email"
        name="user[email]"

        id="user_email">


      <label for="user_username">Username</label>
      <input class="space login-info"
        type="text"
        name="user[username]"

        id="user_username">


      <label for="user_password" >Password </label>
      <input class="space login-info"
        type="password"
        name="user[password]"

        id="user_password">

    <input type="submit" value="Log In" id="login-button">
    <!-- <a  class="login-button" href="/auth/facebook">Facebook Log In</a> -->
    <a  class="login-button" href="<%= demo_session_url %>">Guest Log In</a>
    <button id="cancel-login">Cancel</button>
    </form>
</div>

<div class='signup-overlay no-display'>
</div>

<div class="signup-modal no-display">
    <form class="login-form"  enctype="multipart/form-data">
      <input type="hidden" name="authenticity_token"
             value="<%= form_authenticity_token %>" >


      <label for="user_email" class="">Email </label>
      <input class="space signup-info"
        type="email"
        name="user[email]"

        id="user_email">


      <label for="user_username" class="">Username</label>
      <input class="space signup-info"
        type="text"
        name="user[username]"

        id="user_username">


      <label for="user_password" class="">Password</label>
      <input class="space signup-info"
        type="password"
        name="user[password]"

        id="user_password">



    <label class="signup-upload">
      Upload Picture

      <input type="file" name="user[photo]" >

    </label>

    <input type="submit" value="Sign Up" id="signup-button">

    <button id="cancel-signup">Cancel</button>
    </form>
</div>


</body>
</html>