<!DOCTYPE html>

<html>
<head>
  <style>

  html, body, header, nav, ul, li, h2, a,form{
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
  vertical-align: baseline;
  }



  input[type="submit"] {
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    width: auto;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
    cursor: pointer;
  }

  a{
    text-decoration: none;
    color: blue;

  }

  a:hover{
    color: darkgrey;
    cursor: pointer;
  }

  strong{
    font-weight: bold;
  }

  img{
    display: block;
  }

  ul{
    list-style: none;
  }

  .group:after{
    content: "";
    display: block;
    clear: both;
  }

  body{
    background: lightgrey;
    display: block;
    font-family: sans-serif;
  color: black;
  }

  .header{
    background: rgb(233, 235, 235);
    width: 100%;

    display: block;
  }

  .header > nav {

  }

  .header-ul-left {
    float: left;
  }

  .header-ul-left > li {
    float: right;
    padding: 30px;
  }

  .header-ul-left > li > a {

  }

  .header-ul-left > li > a:hover {

  }

  .header-ul-right {
    float: right;
  }

  .header-ul-right > li {
    float: left;
    padding: 30px;
  }

  .header-ul-right > li > a {

  }

  .header-ul-right > li > a:hover {

  }

  .header-ul-right > li > form {

  }

  .header-ul-right > li > form > input {

  }


  .header-ul-right > li > form > input:hover {

  }

  .header input,
  .header a {
    color: white;
    background: blue;
    padding: 10px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
  }

  .header input:hover,
  .header a:hover {
    color: darkgrey;
    text-decoration: underline;
  }

  .header-dropdown:hover{
    display: block;
    z-index: 1000;

  }

  .header-dropdown{
    position:absolute;
    display: none;
  }

  li:hover .header-dropdown{
    display: block;
  width: 180px;
  }

  h2{
    display: block;
    width: 700px;
    height: 60px;
    background: white;
  color: red;
  font-weight: bold;
  font-size: 24px;
  border-radius: 10px;
  border: 3px solid red;
  }

  </style>
  <title>Diy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <nav class="group">
      <ul class="header-ul-left group">
        <li><a href="<%= new_post_url %>">Create Posts</a></li>
        <li>
      <a href="<%= subs_url %>">Explore All Subforums</a>
          <ul class="header-dropdown">
            <li><a href="<%= sub_url(Sub.find_by_title("Living"))%>">Living</a></li>
            <li><a href="<%= sub_url(Sub.find_by_title("Technology"))%>">Technology</a></li>
            <li><a href="<%= sub_url(Sub.find_by_title("Workshop"))%>">Workshop</a></li>
            <li><a href="<%= sub_url(Sub.find_by_title("Food"))%>">Food</a></li>
            <li><a href="<%= sub_url(Sub.find_by_title("Play"))%>">Play</a></li>
            <li><a href="<%= sub_url(Sub.find_by_title("Outside"))%>">Outside</a></li>
          </ul>
    </li>
        <li><a href="<%= posts_url %>">Explore Posts</a></li>
      </ul>

      <% if current_user %>

        <ul class="header-ul-right group">
          <li><a href="<%= user_url(current_user) %>">User Profile</a></li>
          <li>
            <form class="ul-right-form" action="<%= session_url %>" method="post">
              <input type="hidden" name="authenticity_token"
                     value="<%= form_authenticity_token %>" />
              <input type="hidden" name="_method" value="delete">
              <input class="form-input" type="submit" value="Log Out">
            </form>
          </li>
        </ul>

      <% else %>

          <ul class="header-ul-right group">
            <li><a href="<%= new_session_url %>">Log In</a></li>
            <li><a href="<%= new_user_url %>">Sign Up</a></li>
          </ul>

      <% end  %>
    </nav>
  </header>

  <% if flash[:errors] %>
    <h2><%=  flash[:errors].join(", ").html_safe %></h2>
  <% elsif flash[:notice] %>
    <h2><%=  flash[:notice].html_safe %></h2>
  <% end %>


<%= yield %>

</body>
</html>
